github-copilot/
qBittorrent/
./zed/
./.DS_Store
iterm2/
/tmux/tmux
.DS_Store
zed/
yabai/README.md
yabai/screenshots/
yabai/.gitignore
/sketchybar-Clone/
swi-prolog/
monochrome-theme/monochrome-theme-0*
nvim/nvim-jdtls/
monochrome-theme/themes/NvChad-Monochrome.png
